<div class="page__global">
  <div class="page__global_info">

    <nav class="menu">
      <ul class="menu_list">
        <li><a href="#" class="link">About us</a></li>
        <li><a href="#" class="link">Log in</a></li>
      </ul>
    </nav>

    <div class="btn-section">
      <button class="btn__call-modal-window" >Start</button>
    </div>

  </div>
</div>
<div class="page__global_modal-window">
  <form id="form" class="form">
    <div class="inputs">
      <input class="input input_category" formControlName="category" >
      <input class="input input_theme" formControlName="theme">
    </div>
    <input class="link link_submit text-submit" routerLink="/game" type="submit" value="Start to play ">
    <!--<p class="text-submit">Start to play</p>-->
  </form>
</div>
