<div class="page__global">
  <div class="page__global_info">

    <nav class="menu">
      <ul class="menu_list">
        <li><a href="#" class="link link_about">About us</a></li>
        <li><a href="#" class="link link_login">Log in</a></li>
      </ul>
    </nav>

    <div class="btn-section">
      <button class="btn__call-modal-window" >Start</button>
    </div>

  </div>
</div>
<!--<form id="form" class="page__global_modal-window">-->
  <!--<input formControlName="category">-->
  <!--<input formControlName="theme">-->
  <!--<a routerLink="/game" type="submit">Start to play</a>-->
<!--</form>-->
